#post-image-inside {
    padding: 20px;
}
#post-image-preview {
    position: relative;
    width: 158px; height: 96px;
    margin-bottom: 10px;
    border: solid 4px #cccccc;
}
#post-image-preview-new {
    position: relative;
    width: 158px; height: 96px;
    margin-bottom: 10px;
    border: solid 4px #cccccc;
}
#post-image-preview img {
}
#post-image-preview-new img {
}
#delete-post-image {
    position: absolute;imagePreviewContainer
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: url(../img/post-image-delete.png);
    z-index: 3;
}
#delete-post-image-new {
    position: absolute;imagePreviewContainer
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: url(../img/post-image-delete.png);
    z-index: 3;
}
#post-image-undo {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}
